<div id="<%= dom_id user %>">
  <p style="margin-top: 50px;">
    <strong>Name:</strong>
    <%= link_to user.id, microposts_path %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

</div>
